---
import { getCollection } from 'astro:content'
import ArticleCard from '@components/ArticleCard.astro'
import Layout from '@layouts/Layout.astro'

const articles = await getCollection('articles', ({ data }) => {
  // return import.meta.env.PROD ? data.draft !== true : true
  return data.draft !== true
})

const articlesSortedByDate = articles.sort(
  (a, b) => +new Date(b.data.pubDate) - +new Date(a.data.pubDate)
)
---

<Layout
  title='WillAdamsDotDev'
  metaDescription='UK based developer and knife maker'
  metaImage='https://res.cloudinary.com/bushblade/image/upload/f_webp/q_auto/bushbladedotdev/ogimage.jpg'
>
  <h1><span class='text-primary'>/</span>articles</h1>
  <p>
    Maybe you will find some useful stuff to read about here, but more than
    likely its just a place for me to reference the things future me forgets!
  </p>
  <div class='mt-16 grid grid-cols-1 gap-10'>
    {
      articlesSortedByDate.map((article) => (
        <ArticleCard
          frontmatter={article.data}
          url={'/articles/' + article.slug}
        />
      ))
    }
  </div>
</Layout>

<script>
  import { transitionImage } from '@utils/domUtils'

  const images: NodeListOf<HTMLImageElement> =
    document.querySelectorAll('img.article-image')
  images.forEach(transitionImage)
</script>
