---
import Layout from '@layouts/Layout.astro'
---

<Layout title='About Me'>
  <h1>A little <span class='text-primary'>more</span> about me!</h1>
  <p>
    Hi there, I'm <strong>Will</strong> - a 46 year old UK-based developer, knife
    maker, father, and outdoor enthusiast. I have a diverse range of interests and
    experiences that have led me to develop a broad skill set, including web development,
    knife making, bushcraft, climbing, and more.
  </p>

  <p>
    My journey into web development began when I started my <a
      href='https://bushblade.co.uk'
      target='_blank'
      class='link link-accent'>knife making</a
    >
    business and needed a website to showcase my work. Since then, I've been helping
    students of <a
      href='https://www.traversymedia.com/'
      target='_blank'
      class='link link-accent'>Brad Traversy</a
    > in his web development courses to learn and improve their skills. When I'm
    not helping others or making knives, you can find me challenging myself both
    physically and mentally. I'm an avid indoor boulderer at my local gym, <a
      href='https://www.freeklime.co.uk/'
      target='_blank'
      class='link link-accent'>Freeklime</a
    >, and a dedicated bushcrafter. I'm also proud to be a member of the
    <a
      href='https://www.westyorkshirebushcraft.co.uk/'
      target='_blank'
      class='link link-accent'
    >
      West Yorkshire Bushcraft</a
    > group, where I share my skills and knowledge with other outdoor enthusiasts.
  </p>

  <p>
    I'm always eager to learn and explore new things, both in my personal and
    professional life, and I enjoy sharing my knowledge with others.
  </p>
</Layout>
