---
import Layout from '@layouts/Layout.astro'
import { Content } from '../md/uses.md'
import '@styles/mdstyles.css'
---

<Layout title='/uses'>
  <h1><span class='text-primary'>/</span>uses</h1>
  <Content />
</Layout>
