---
import Layout from '@layouts/Layout.astro'
---

<Layout title='/uses'>
  <h1><span class='text-primary'>/</span>uses</h1>
  <p>
    Inspired by <a
      href='https://wesbos.com/'
      target='_blank'
      class='link link-accent'>Wes Bos</a
    > and
    <a href='https://uses.tech/' target='_blank' class='link link-accent'
      >uses.tech</a
    >, here is a list of some of the tech related things I on a regular basis.
  </p>

  <h3>Hardware</h3>
  <ul>
    <li>
      <strong>Desktop</strong> Ryzen 5 3600x CPU, Radeon RX580 GPU, 32gb HyperX RAM
      running <a
        href='https://manjaro.org/'
        target='_blank'
        class='link link-accent'>Manjaro Linux</a
      > with the <a
        href='https://www.xfce.org/'
        target='_blank'
        class='link > link-accent'>XFCE</a
      > desktop environemnt.
    </li>
    <li>
      <strong>Keyboard</strong>
      <a
        href='https://www.amazon.co.uk/Durgod-Hades-Mechanical-Gaming-Keyboard/dp/B08GZZYJ5W?th=1'
        target='_blank'
        class='link link-accent'>Durgod Hades</a
      > with lubed cherry mx red switches and stabilisers, sound dampened case and
      <a
        href='https://mechkeyboards.co.uk/tai-hao-pbt-backlit-double-shot-forest-deep-green-140-keycap-set-1412-p.asp'
        target='_blank'
        class='link link-accent'>Tai-Hao Forest deep green PBT</a
      > key caps.
    </li>
    <li>
      <strong>Laptop</strong> Lenovo Thinkpad X260 Intel i7 and 16gb RAM running
      <a href='https://manjaro.org/' target='_blank' class='link link-accent'
        >Manjaro Linux</a
      > with the <a
        href='https://www.xfce.org/'
        target='_blank'
        class='link > link-accent'>XFCE</a
      > desktop environemnt.
    </li>
    <li>
      <strong>Monitors</strong> 2 x Asus S24D330 24inch on home made stands
    </li>
    <li>
      <strong>Chair</strong>
      <a
        href='https://boulies.co.uk/products/elite-series'
        target='_blank'
        class='link link-accent'>Boulies Elite</a
      >
    </li>
    <li>
      <strong>Headset</strong>
      <a
        href='https://www.razer.com/ap-en/gaming-headsets/razer-nari'
        target='_blank'
        class='link link-accent'>Razer Nari</a
      >
    </li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li>
      <strong>Terminal</strong>
      <a
        href='https://wezfurlong.org/wezterm/'
        target='_blank'
        class='link link-accent'>Wezterm</a
      > or <a
        href='https://sw.kovidgoyal.net/kitty/'
        target='_blank'
        class='link link-accent'>Kitty</a
      > with <a
        href='https://fishshell.com/'
        target='_blank'
        class='link > link-accent'>Fish</a
      > shell and <a
        href='https://starship.rs/'
        target='_blank'
        class='link link-accent'>Starship</a
      > prompt
    </li>
    <li>
      <strong>Editor</strong>
      <a href='https://neovim.io/' target='_blank' class='link link-accent'
        >Neovim</a
      > - <a
        href='https://github.com/bushblade/nvim'
        target='_blank'
        class='link link-accent'>config here</a
      >
    </li>
    <li>
      <strong>Command line tools</strong>
      <ul>
        <li>
          <a
            href='https://github.com/jesseduffield/lazygit'
            target='_blank'
            class='link link-accent'>LazyGit</a
          > - version control
        </li>
        <li>
          <a
            href='https://github.com/jarun/nnn'
            target='_blank'
            class='link link-accent'>nnn</a
          > - file manager
        </li>
        <li>
          More in my <a
            href='https://github.com/bushblade/dotfiles'
            target='_blank'
            class='link link-accent'>dotfiles</a
          > here
        </li>
      </ul>
    </li>
  </ul>
</Layout>
