---
import Layout from '@layouts/Layout.astro'
---

<Layout title='/uses'>
  <h1><span class='text-primary'>/</span>uses</h1>
  <p>
    Inspired by <a href='https://wesbos.com/' target='_blank'>Wes Bos</a> and
    <a href='https://uses.tech/' target='_blank'>uses.tech</a>, here is a list
    of some of the tech related things I use on a regular basis.
  </p>

  <h2>Hardware</h2>
  <ul>
    <li>
      <strong>Desktop</strong> Ryzen 5 3600x CPU, Radeon RX580 GPU, 32gb HyperX RAM
      running <a href='https://manjaro.org/' target='_blank'>Manjaro Linux</a> with
      the <a
        href='https://www.xfce.org/'
        target='_blank'
        class='link > link-accent'>XFCE</a
      > desktop environemnt.
    </li>
    <li>
      <strong>Keyboard</strong>
      <a
        href='https://www.amazon.co.uk/Durgod-Hades-Mechanical-Gaming-Keyboard/dp/B08GZZYJ5W?th=1'
        target='_blank'>Durgod Hades</a
      > with lubed cherry mx red switches and stabilisers, sound dampened case and
      <a
        href='https://mechkeyboards.co.uk/tai-hao-pbt-backlit-double-shot-forest-deep-green-140-keycap-set-1412-p.asp'
        target='_blank'>Tai-Hao Forest deep green PBT</a
      > key caps.
    </li>
    <li>
      <strong>Laptop</strong> Lenovo Thinkpad X260 Intel i7 and 16gb RAM running
      <a href='https://manjaro.org/' target='_blank'>Manjaro Linux</a> with the <a
        href='https://www.xfce.org/'
        target='_blank'
        class='link > link-accent'>XFCE</a
      > desktop environemnt.
    </li>
    <li>
      <strong>Monitors</strong> 2 x Asus S24D330 24inch on home made stands
    </li>
    <li>
      <strong>Chair</strong>
      <a href='https://boulies.co.uk/products/elite-series' target='_blank'
        >Boulies Elite</a
      >
    </li>
    <li>
      <strong>Headset</strong>
      <a
        href='https://www.razer.com/ap-en/gaming-headsets/razer-nari'
        target='_blank'>Razer Nari</a
      >
    </li>
    <li>
      <strong>Phone</strong>
      <a
        href='https://www.gsmarena.com/google_pixel_5-10386.php'
        target='_blank'>Google Pixel 5</a
      >
    </li>
    <li>
      <strong>Watch</strong>
      <a href='https://www.garmin.com/en-GB/p/679335' target='_blank'
        >Garmin Instinct Solar</a
      >
    </li>
  </ul>
  <h2>Software</h2>
  <ul>
    <li>
      <strong>Terminal</strong>
      Either
      <a href='https://wezfurlong.org/wezterm/' target='_blank'>Wezterm</a>, <a
        href='https://sw.kovidgoyal.net/kitty/'
        target='_blank'>Kitty</a
      >
      or <a href='https://alacritty.org/' target='_blank'>Alacritty</a>
      with <a
        href='https://fishshell.com/'
        target='_blank'
        class='link > link-accent'>Fish</a
      > shell and <a href='https://starship.rs/' target='_blank'>Starship</a> prompt.
      If I'm using Alacritty then I usually pair it with <a
        href='https://github.com/tmux/tmux'
        target='_blank'>Tmux</a
      > for splits/multiplexxing.
    </li>
    <li>
      <strong>Editor</strong>
      <a href='https://neovim.io/' target='_blank'>Neovim</a> - <a
        href='https://github.com/bushblade/nvim'
        target='_blank'>config here</a
      >
    </li>
    <li>
      <strong>Command line tools</strong>
      <ul>
        <li>
          <a href='https://github.com/jesseduffield/lazygit' target='_blank'
            >LazyGit</a
          > - version control
        </li>
        <li>
          <a href='https://github.com/jarun/nnn' target='_blank'>nnn</a> - file manager
        </li>
        <li>
          <a href='https://pnpm.io/' target='_blank'>pnpm</a> - Node package manager
        </li>
        <li>
          More in my <a
            href='https://github.com/bushblade/dotfiles'
            target='_blank'>dotfiles</a
          > here
        </li>
      </ul>
    </li>
  </ul>
  <h2>Podcasts</h2>
  <ul>
    <li>
      <a href='https://syntax.fm/' target='_blank'>SyntaxFM</a>
    </li>
    <li>
      <a
        href='https://topenddevs.com/podcasts/javascript-jabber'
        target='_blank'>JavaScript Jabber</a
      >
    </li>
    <li>
      <a href='https://www.compressed.fm/' target='_blank'>Compressed FM</a>
    </li>
  </ul>
</Layout>
