<footer class='max-w-4xl m-auto py-20'>
  <ul class='m-auto flex flex-wrap justify-around max-w-sm'>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://github.com/bushblade'>Github</a
      >
    </li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://gitlab.com/bushblade'>Gitlab</a
      >
    </li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://twitter.com/Bushblade'>Twitter</a
      >
    </li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://www.instagram.com/bushblade/'>Instagram</a
      >
    </li>
  </ul>
</footer>
