<footer class='max-w-4xl m-auto py-20 flex flex-col items-center'>
  <ul class='m-auto flex flex-wrap justify-around'>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://github.com/bushblade'>Github</a
      >
    </li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://gitlab.com/bushblade'>Gitlab</a
      >
    </li>
    <li>|</li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://twitter.com/Bushblade'>Twitter</a
      >
    </li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://www.instagram.com/bushblade/'>Instagram</a
      >
    </li>
    <li>|</li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='https://t.me/bushblade'>Telegram</a
      >
    </li>
    <li class='inline-flex mx-2'>
      <a
        target='_blank'
        class='link link-secondary link-hover hover:animate-pulse'
        href='mailto:bushblade@gmail.com'>bushblade@gmail.com</a
      >
    </li>
  </ul>
  <p class='mt-16 text-xs'>
    All content &copy; {new Date().getFullYear()} Will Adams
  </p>
</footer>
