---
import Github from '../icons/github.astro'
import Gitlab from '../icons/gitlab.astro'
import Twitter from '../icons/twitter.astro'
import Instagram from '../icons/instagram.astro'
import Telegram from '../icons/telegram.astro'
import Email from '../icons/email.astro'
---

<footer class='max-w-4xl m-auto py-20 flex flex-col items-center'>
  <ul class='m-auto flex flex-wrap justify-around'>
    <li class='inline-flex mx-2 tooltip tooltip-top' data-tip='Github'>
      <a
        target='_blank'
        class='link-hover hover:animate-pulse'
        href='https://github.com/bushblade'><Github /></a
      >
    </li>
    <li class='inline-flex mx-2 tooltip tooltip-top' data-tip='Gitlab'>
      <a
        target='_blank'
        class='link-hover hover:animate-pulse'
        href='https://gitlab.com/bushblade'><Gitlab /></a
      >
    </li>
    <li class='inline-flex mx-2 tooltip tooltip-top' data-tip='Twitter'>
      <a
        target='_blank'
        class='link-hover hover:animate-pulse'
        href='https://twitter.com/Bushblade'><Twitter /></a
      >
    </li>
    <li class='inline-flex mx-2 tooltip tooltip-top' data-tip='Instagram'>
      <a
        target='_blank'
        class='link-hover hover:animate-pulse'
        href='https://www.instagram.com/bushblade/'><Instagram /></a
      >
    </li>
    <li class='inline-flex mx-2 tooltip tooltip-top' data-tip='Telegram'>
      <a
        target='_blank'
        class='link-hover hover:animate-pulse'
        href='https://t.me/bushblade'><Telegram /></a
      >
    </li>
    <li class='inline-flex mx-2 tooltip tooltip-top' data-tip='Email me'>
      <a
        target='_blank'
        class='link-hover hover:animate-pulse'
        href='mailto:bushblade@gmail.com'
      >
        <Email />
      </a>
    </li>
  </ul>
  <p class='mt-16 text-xs'>
    All content &copy; {new Date().getFullYear()} Will Adams
  </p>
  <p class='text-xs'>
    Icons by <a href='https://openmoji.org/' class='link link-info'
      >Open Emoji</a
    > (mostly!)
  </p>
</footer>
