---
import { getCloudinaryUrl } from '@utils/cloudinary'
import Navbar from './Navbar.astro'

const profilePic = getCloudinaryUrl('bushbladedotdev/profile', {
  width: 52,
  height: 52,
  format: 'avif',
})
---

<header class='max-w-4xl m-auto lg:p-0 p-4'>
  <div class='flex py-5 px-1 justify-center md:justify-end'>
    <a href='/' class='flex items-center'>
      <img
        width='52px'
        height='52px'
        class='rounded-full border-2 border-secondary mx-2'
        src={profilePic}
        alt='Will Adams'
      />
      <span
        class='font-bold text-3xl text-transparent bg-clip-text bg-linear-to-r from-primary to-accent'
      >
        WillAdamsDotDev</span
      >
    </a>
  </div>
</header>
<Navbar />

<style>
  span {
    background-size: 400%;
    animation: bgmove 8s ease infinite;
  }

  @keyframes bgmove {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
</style>
