---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

const links = ['about', 'projects', 'uses', 'articles']
---

<nav
  class='max-w-4xl m-auto md:mb-14 flex justify-center md:justify-start sticky top-0 backdrop-brightness-100 backdrop-blur-lg py-2 shadow-inner shadow-base-300'
>
  <ul>
    <li class='mx-1 hidden md:inline-flex'>
      <a
        aria-label='Link to the home page'
        class={`capitalize btn btn-ghost ${
          currentPath === ''
            ? 'btn-outline hover:bg-transparent hover:text-current'
            : ''
        }`}
        href='/'>home</a
      >
    </li>{
      links.map((link) => (
        <li class='inline-flex md:mx-1'>
          <a
            aria-label={`Link to the ${link} page`}
            class={`capitalize btn btn-ghost btn-sm sm:btn-md ${
              currentPath.includes(link)
                ? 'btn-outline hover:bg-transparent hover:text-current'
                : ''
            }`}
            href={`/${link}`}
          >
            {link}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
