---
const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1)

const links = ['about', 'projects', 'uses', 'articles']
---

<nav>
  <ul>
    <li class='inline-flex mx-1'>
      <a
        aria-label='Link to the home page'
        class={`capitalize btn btn-ghost ${
          currentPath === ''
            ? 'btn-outline hover:bg-transparent hover:text-current'
            : ''
        }`}
        href='/'>home</a
      >
    </li>{
      links.map((link) => (
        <li class='inline-flex mx-1'>
          <a
            aria-label={`Link to the ${link} page`}
            class={`capitalize btn btn-ghost ${
              currentPath.includes(link)
                ? 'btn-outline hover:bg-transparent hover:text-current'
                : ''
            }`}
            href={`/${link}`}
          >
            {link}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
