---
import Layout from './Layout.astro'
import '@styles/mdstyles.css'

export interface Frontmatter {
  title: string
  pubDate: string
  description: string
  author: string
  image?: {
    url: string
    alt: string
  }
  tags: string[]
  draft: boolean
}

const { frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title}
  metaDescription={frontmatter.description}
  metaImage={frontmatter.image?.url}
>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
