---
import { getCloudinaryUrl } from '@utils/cloudinary'
import Layout from './Layout.astro'
import '@styles/mdstyles.css'

const { frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title}
  metaDescription={frontmatter.description}
  metaImage={getCloudinaryUrl(frontmatter.image.url, {
    width: 1200,
    format: 'webp',
  })}
>
  <img
    src={getCloudinaryUrl(frontmatter.image.url, {
      width: 800,
      format: 'avif',
    })}
    alt={frontmatter.image.alt}
  />
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
