---
import Layout from './Layout.astro'
import '@styles/mdstyles.css'

const { frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title}
  metaDescription={frontmatter.description}
  metaImage={frontmatter.image?.url}
>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
