---
import { getCloudinaryUrl } from '@utils/cloudinary'
import Layout from './Layout.astro'
import '@styles/mdstyles.css'

const { frontmatter } = Astro.props
---

<Layout
  title={frontmatter.title}
  metaDescription={frontmatter.description}
  metaImage={getCloudinaryUrl(frontmatter.image.url, {
    width: 1200,
    format: 'webp',
  })}
>
  <div class='max-w-[800px] mx-auto aspect-video mb-10 w-full'>
    <img
      src={getCloudinaryUrl(frontmatter.image.url, {
        width: 800,
        format: 'avif',
      })}
      loading='lazy'
      class='aspect-video mt-0 w-full'
      alt={frontmatter.image.alt}
    />
  </div>
  <h1>{frontmatter.title}</h1>
  <slot />
</Layout>
